// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
  font-family: roboto;
  src: url("../assets/fonts/roboto-light.ttf");
}

$font-family-base: "roboto", sans-serif !default;

// Shared Styles

.grey-text { color: map-get($colors, "accents02") !important; }

body ion-list .input-box {
  width: 70% !important;
  border-radius: 10px;
  border-bottom: none !important;
  box-shadow: 0 0px 0 0 !important;
  margin: 0 auto !important;
  max-width: 300px;
}

.split-bill-nav img {
  width: 50px;
  right: 0;
  top: 0;
  margin: 3px 3px 0px 0px;
  position: absolute;
}

h1, h2, h3, h4, h5, h6, p {
  font-weight: normal;
  font-family: 'roboto' !important;
}
.loading-wrapper {
  background-color:transparent !important;
  box-shadow: 0px 0px rgba(0,0,0,0) !important;
}
ion-spinner * {
  width: 50px !important;
  height: 50px !important;
  stroke: #FFF !important;
}
.bold {
  font-weight: bold;
}
.selectable {
  user-select: auto !important;
}
.transparentBody {
  background: none transparent !important;
  background-color: transparent !important;
  z-index: 100;
}
